---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

//  Korean font
@font-face {
	font-family: 'Gothic A1';
	src: url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic:wght@700&display=swap');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Gothic A1';
}
