---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

@font-face {
	font-family: 'Noto Sans KR';
	src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Noto Sans KR';
}
