---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

//  Korean font
@font-face {
	font-family: 'NotoSansKR';
	src: url('/resume/fonts/NanumGothic.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: 'NotoSansKR';
}

// rounded highlight
.rounded_highlight > li > b{
	padding: 1px 3px;
	border-radius: 22px;
	font-weight: bold;
	color: rgba(48, 48, 48, 0.8);
}

.skill{
	background-color: rgba(255, 238, 88, 0.527);
}
.domain{
	background-color: rgba(164, 255, 103, 0.507);
}
  