---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

//  Korean font
@font-face {
	font-family: 'NotoSansKR';
	src: url('/resume/_assets/NotoSansKR-Light.woff');
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: 'NotoSansKR';
}
