---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

//  Korean font
@font-face {
	font-family: 'NotoSansKR';
	src: url('/resume/fonts/NotoSansKR-Light.eot'),
	     url('/resume/fonts/NotoSansKR-Light.woff') format('woff'),
         url('/resume/fonts/NotoSansKR-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: 'NotoSansKR';
}


// rounded highlight
.tt_article_useless_p_margin > li > b {
	padding: 1px 3px;
	border-radius: 5px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
	background-color: rgba(255, 228, 0, 0.7);
  }
  